<h1><%= current_user.landlord? ? @tenant.name : "Welcome, #{@tenant.name}!" %></h1>
<br>
<% if @unit %>
  <p>Unit: <%= @unit.unit_number %></p>
  <% if current_user.landlord? %>
    <p>Property: <%= @property.name %></p>
  <% end %>
  <p>Address: <%= @property.address %></p>

  <div class="payments-button" style="margin-bottom: 20px">
    <%= link_to 'View Payments', user_payments_path(@tenant), class: 'btn btn-primary' %>
  </div>

  <div class="leases-button" style="margin-bottom: 20px">
    <%= link_to 'View Leases', user_leases_path(@tenant), class: 'btn btn-secondary' %>
  </div>
<% else %>
  <p>You are not assigned to any unit.</p>
<% end %>

<% if current_user.landlord? %>
  <div class="back-button">
    <%= link_to 'Back to Units', property_units_path(@property), class: 'btn btn-primary' %>
  </div>
<% end %>
