<h1>Units for <%= @property.name %></h1>
<p>Address: <%= @property.address %> </p>
<br>
<% @units.each do |unit| %>
  <div class="unit">
    <h2>
      Unit <%= unit.unit_number %>
    </h2>
    <% if unit.tenant %>
      <p>
        Tenant: <%= link_to unit.tenant.name, tenant_path(unit.tenant) %>
      </p>
    <% else %>
      <p>Tenant: Not assigned</p>
    <% end %>
  </div>
<% end %>

<div class="back-button">
  <%= link_to 'Back to Properties', root_path, class: 'btn btn-primary' %>
</div>
