<div id="<%= dom_id payment %>">
  <p>
    <strong>Unit:</strong>
    <%= payment.unit_id %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= payment.tenant_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= payment.due_date %>
  </p>

  <p>
    <strong>Paid at:</strong>
    <%= payment.paid_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
  </p>

</div>
