<div id="<%= dom_id payment %>">
  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= payment.due_date %>
  </p>

  <p>
    <strong>Paid at:</strong>
    <%= payment.paid_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
    <%= link_to 'Pay Now', edit_payment_path(payment) if payment.status == 'pending' %>
  </p>
</div>
