<h1 class="my-4">Payments for <%= @tenant.name %></h1>

<div class="container">
  <div class="mb-4">
    <%= link_to 'Back to Tenant Dashboard', user_path(@tenant), class: 'btn btn-primary' %>
    <% if current_user.landlord? %>
      <%= link_to 'Add New Payment', new_user_payment_path(@tenant), class: 'btn btn-success ml-3' %>
    <% end %>
  </div>
  <div class="row">
    <% { 'Overdue Payments' => @overdue_payments, 'Pending Payments' => @pending_payments, 'Paid Payments' => @paid_payments }.each do |title, payments| %>
      <%= render 'payment_list',  title: title, payments: payments  %>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to 'Back to Tenant Dashboard', user_path(@tenant), class: 'btn btn-primary' %>
    <% if current_user.landlord? %>
      <%= link_to 'Add New Payment', new_user_payment_path(@tenant), class: 'btn btn-success ml-3' %>
    <% end %>
  </div>
</div>
