<div id="<%= dom_id lease %>">
  <p>
    <strong>Unit:</strong>
    <%= lease.unit.unit_number %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= lease.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= lease.end_date %>
  </p>

  <p>
    <strong>Rent amount:</strong>
    <%= lease.rent_amount %>
  </p>

  <p>
    <strong>Security deposit:</strong>
    <%= lease.security_deposit %>
  </p>

  <div class="pdf-link">
    <% if lease.pdf.attached? %>
      <%= link_to 'View Lease PDF', rails_blob_path(lease.pdf, disposition: "attachment"), target: "_blank", class: 'btn btn-info' %>
    <% else %>
      <p>No PDF uploaded.</p>
    <% end %>
  </div>
</div>
