<div id="<%= dom_id lease %>">
  <p>
    <strong>Unit:</strong>
    <%= lease.unit_id %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= lease.tenant_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= lease.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= lease.end_date %>
  </p>

  <p>
    <strong>Rent amount:</strong>
    <%= lease.rent_amount %>
  </p>

</div>
