<%= form_with(model: [@property, @unit]) do |form| %>
  <% if @unit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
        <% @unit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :unit_number, style: "display: block" %>
    <%= form.text_field :unit_number %>
  </div>

  <div>
    <%= form.label :tenant_id, style: "display: block" %>
    <%= form.select :tenant_id, options_from_collection_for_select(User.where(role: 'tenant'), :id, :name), include_blank: true %>
  </div>

  <%= form.hidden_field :property_id, value: @property.id %>

  <div>
    <%= form.submit "Save Unit", class: "btn btn-primary" %>
  </div>
<% end %>
